<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <form th:object="${postForm}" class="form-inline">
            <div class="form-group mb-2">
                <input type="text" th:field="*{title}" class="form-control" placeholder="제목"/>
            </div>
            <div class="form-group mb-2">
                <input type="text" th:field="*{content}" class="form-control" placeholder="내용"/>
            </div>
            <button type="submit" class="btn btn-primary mb-2">검색</button>
        </form>
    </div>

    <div>
        <table class="table table-striped">
            <thead> <tr>
                <th>#</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일시</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.id}"></td>
                <td>
                    <a th:text="${board.title}" th:href="@{/boards/{id}/detail (id=${board.id})}"></a>
                </td>
                <td th:text="${board.member.id}"></td>
                <td th:text="${board.postDate}"></td>
                <td>
<!--                    <a href="#" th:href="@{/boards/{id}/update (id=${board.id})}" class="btn btn-primary" role="button">수정</a>-->
<!--                    <a href="#" th:href="'javascript:cancel('+${board.id}+')'" class="btn btn-danger">삭제</a>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <span th:each="pageNum : ${pageList}" th:inline="text">
            <a th:if="${pageNum != nowPage}" th:href="@{'/boards?page='+${pageNum}}">[[${pageNum}]]</a>
            <strong th:if="${pageNum == nowPage}" th:text="${pageNum}" style="color:red"></strong>
        </span>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
    function cancel(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/boards/" + id + "/delete");
        document.body.appendChild(form);
        form.submit();
    } </script>
</html>